@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Space Grotesk", sans-serif;
}

.link-item {
  position: relative;
}

.link-item::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #374151;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s ease-in-out;
}

.link-item:hover::after {
  width: 100%;
}

.link-item.active {
  color: #0ea5e9;
}
